body {
    background-color: linen;
}
h1 {
    color: maroon;
    text-align: center;
}
footer {
    font-style: italic;
    text-align: right;
    font-family: monospace;
    position: fixed;
    bottom: 0;
    vertical-align: bottom;
    
    border: solid 1px black;
}
